body {
  background-color: lightgrey;
  color: #212529;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1140px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1024px) {
  .container {
    width: 700px;
  }
}

header.background-img {
  background-image: url("images/mountain.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.background-img > .content {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 38px;
  margin: 20px;
  padding: 20px 50px;
}

@media (max-width: 1024px) {
  header.background-img > .content {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  header.background-img > .content {
    display: none;
  }
}

nav {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

@media (max-width: 1024px) {
  nav {
    font-size: 14px;
  }
}

nav > ul {
  margin: 0;
  padding: 15px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav > ul > li {
  padding: 5px 50px;
  display: inline-block;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  nav > ul > li {
    padding: 5px 30px;
  }
}

@media (max-width: 767px) {
  nav > ul > li {
    text-align: center;
  }
}

nav > ul > li + li:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@media (max-width: 767px) {
  nav > ul > li + li:nth-child(2) {
    border: none;
  }
}

nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: orangered;
}

section {
  background-color: #eeeeee;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  padding: 60px 50px;
}

@media (max-width: 767px) {
  section {
    padding: 60px 10px;
  }
}

section .text-content {
  padding: 50px;
  text-align: justify;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

h2 + .description {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: middle;
}

img.img-thumbnail {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  height: auto;
  max-width: 100%;
  padding: .25rem;
}

.text-justify {
  text-align: justify;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.p-0 {
  padding: 0;
}

section:nth-of-type(even) {
  background-color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .row {
    display: block;
  }
}

section.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table {
  width: 900px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3665cf;
}

tr.head {
  color: white;
  background-color: #3665cf;
  line-height: 2rem;
  letter-spacing: 4px;
  text-align: center;
}

td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

tr {
  background-color: #e1e9fe;
  text-align: left;
}

tr > th {
  padding-left: 0.7em;
  padding-right: 0.7em;
  letter-spacing: 1px;
}

tr.even {
  background-color: #f4f7fe;
  padding-left: 20em;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}
/*# sourceMappingURL=zad_02.css.map */